/*
body[a="dark"] {
    filter: invert(1);
}
body[a="dark"] img {
    filter: invert(1);
}
body[a="dark"] img.ioda {
    filter: invert(0);
}
@media (prefers-color-scheme: dark) {
    body[a="auto"] {
        filter: invert(1);
    }
    body[a="auto"] img {
        filter: invert(1);
    }
    body[a="auto"] img.ioda {
        filter: invert(0);
    }
}
html,
body {
    background: white;
}
html {
    height: 100%;
}
body {
    color: black;
    font-family: monospace;
    font-size: 16px;
    line-height: 1.4;
    margin: 0;
    min-height: 100%;
    overflow-wrap: break-word;
}
.post-meta {
    text-align: right;
}
h2,
h3,
h4,
h5,
h6 {
    margin-top: 3rem;
}
hr {
    margin: 2rem 0;
}
p {
    margin: 1rem 0;
}
li {
    margin: 0.4rem 0;
}
*:target {
    background: yellow;
}
.w {
    max-width: 640px;
    margin: 0 auto;
    padding: 4rem 2rem;
}
hr {
    text-align: center;
    border: 0;
}
hr:before {
    content: "/////";
}
hr:after {
    content: attr(data-content) "/////";
}
table {
    width: 100%;
}
table,
th,
td {
    border: thin solid black;
    border-collapse: collapse;
    padding: 0.4rem;
}
code {
    color: white;
    background: black;
}
div.highlighter-rouge code {
    display: block;
    overflow-x: auto;
    white-space: pre-wrap;
    padding: 1rem;
}
blockquote {
    font-style: italic;
    border: thin solid black;
    padding: 1rem;
}
blockquote p {
    margin: 0;
}
img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}
*/

:root {
  color-scheme: light dark;
  --white: #fff;
  --black: #000;
  --transparent: rgba(128,128,128,0.2);
  --color: rgb(138,43,226);
}


@media (prefers-color-scheme: dark) {
 :root {
  --black: #fff;
  --white: #000;
 }
}

html {
    height: 100%;
}
body {
    min-height: 100%;
}

html, body{
    background: var(--white);
    color: var(--black);
}

.markdown-body{
  border:0 !important;
}

table, iframe{
  width:100%;
  display: block;
  border:0;
}
.markdown-body table td, .markdown-body table th, table td, table th{
  border:0;
}

:is(h1, h2, h3, h4, h5, h6) img{
  display: inline-block;
  height: calc( var(--font-size) / 1.5);
}

table tbody img{
    width: 100%;
}

ul,
ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a,
a:visited {
  color: var(--black);
  text-decoration: none;
  font-weight: 400;
}
a:hover,
a:visited:hover {
  text-decoration: none;
  color: var(--color);
}

/* semantic.css  */

progress,
sub,
sup {
    vertical-align: baseline;
}
footer,
header {
    padding-top: 25px;
    padding-bottom: 25px;
}
blockquote,
form,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul {
    margin-top: 25px;
    margin-bottom: 25px;
}
html {
    box-sizing: border-box;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}
*,
::after,
::before {
    box-sizing: inherit;
}
:root {
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid var(--transparent);
  margin: 1.5rem 0;
  padding: 0;
}
abbr[title] {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
}
b,
strong {
    font-weight: bolder;
}
code,
kbd,
pre,
samp {
    font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier,
        monospace;
    font-size: 1em;
}
small {
    font-size: 80%;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
}
sub {
    bottom: -0.25em;
}
sup {
    top: -0.5em;
}
button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
button,
select {
    text-transform: none;
}
[type="button"],
[type="reset"],
[type="submit"],
button {
    -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
    outline: ButtonText dotted 1px;
}
fieldset {
    padding: 0.35em 0.75em 0.625em;
}
legend {
    padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}
blockquote,
p {
    line-height: 1.4;
}
h6,
pre {
    line-height: 1.3;
}
summary {
    display: list-item;
}
body,
html {
    background-color: var(--white);
}
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 1rem;
}
footer > section,
header > nav,
main {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}
section {
    margin-top: 50px;
    margin-bottom: 50px;
}
footer > section,
header > section {
    margin-top: 0;
    margin-bottom: 0;
}
header {
    background-color: var(--black);
}
/*
header,
header a {
    color: #fff;
}
*/
footer {
    background-color: #efefef;
}
nav > * {
    margin-right: 15px;
}
nav a {
    text-decoration: none;
}
nav a:focus,
nav a:hover {
    text-decoration: underline;
}
aside {
    float: left;
}
header > nav > aside {
    float: right;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    font-size: var(--font-size);
}
h1 {
    --font-size: 3rem;
    line-height: 1.2;
}
h2 {
    --font-size: 2rem;
    line-height: 1.22;
}
h3 {
    --font-size: 1.5rem;
    line-height: 1.24;
}
h4 {
    --font-size: 1.25rem;
    line-height: 1.26;
}
h5 {
    --font-size: 1rem;
    line-height: 1.28;
}
h6 {
    --font-size: 0.875rem;
}
h1 + h2,
h2 + h3,
h3 + h4,
h4 + h5,
h5 + h6 {
    margin-top: -10px;
}
img {
    max-width: 100%;
}
p {
    margin-top: 15px;
    margin-bottom: 15px;
}
ol li,
ul li {
    margin-top: 8px;
    margin-bottom: 8px;
}
blockquote {
    position: relative;
    margin-left: 0;
    padding-left: 30px;
    padding-top: 3px;
    padding-bottom: 3px;
    --font-size: 1.0625rem;
    font-size: var(--font-size);
}
blockquote::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 10px;
    background: var(--transparent);
}
button,
input[type="reset"],
input[type="submit"] {
    padding: 6px 17px;
    border: 0;
    background-color: #4332e0;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    -webkit-transition: 0.12s;
    transition: 0.12s;
    will-change: background-color;
}
button:focus,
button:hover,
input[type="reset"]:focus,
input[type="reset"]:hover,
input[type="submit"]:focus,
input[type="submit"]:hover {
    background-color: #5949ee;
}
button:active,
input[type="reset"]:active,
input[type="submit"]:active {
    background-color: #3b2ad3;
}
button[disabled],
button[disabled]:active,
button[disabled]:focus,
button[disabled]:hover {
    background: #efefef;
    color: #000;
    cursor: default;
}
input,
label,
select,
textarea {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}
label > input {
    margin-top: 5px;
    margin-bottom: 5px;
}
label > input[type="checkbox"],
label > input[type="radio"] {
    display: inline-block;
    margin-right: 5px;
}
input[type="date"],
input[type="datetime-local"],
input[type="email"],
input[type="file"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
textarea {
    padding: 5px 10px;
    border: 1px solid #dadada;
}
textarea {
    padding: 10px;
}
dialog {
    border: 3px solid #efefef;
    box-shadow: 2px 2px 30px 0 rgba(0, 0, 0, 0.07);
    border-radius: 10px;
}
pre {
    padding: 15px;
    background: #f5f5f5;
    color: #3f3f3f;
    overflow: auto;
}
@media (max-width: 932px) {
    footer > section,
    header > nav,
    main {
        max-width: 100%;
        padding-left: 16px;
        padding-right: 16px;
    }
}
@media (max-width: 900px) {
    blockquote,
    form,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    ol,
    ul {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    section {
        margin-top: 45px;
        margin-bottom: 45px;
    }
    h1 {
        --font-size: 2.625rem;
    }
    h2 {
        --font-size: 1.875rem;
    }
    h3 {
        --font-size: 1.375rem;
    }
    h4 {
        --font-size: 1.125rem;
    }
    h5 {
        --font-size: 0.9375rem;
    }
    h6 {
        --font-size: 0.8125rem;
    }
    p {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    ol li,
    ul li {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    blockquote {
        --font-size: 1rem;
    }
    input,
    label,
    select,
    textarea {
        margin-top: 15px;
        margin-bottom: 15px;
    }
}
@media (max-width: 600px) {
    section {
        margin-top: 40px;
        margin-bottom: 40px;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    h1 {
        --font-size: 2.25rem;
    }
    h2 {
        --font-size: 1.75rem;
    }
    h3 {
        --font-size: 1.25rem;
    }
    h4 {
        --font-size: 1rem;
    }
    h1 + h2,
    h2 + h3,
    h3 + h4,
    h4 + h5,
    h5 + h6 {
        margin-top: -5px;
    }
    pre {
        --font-size: 0.9375rem;
    }
}
